/** Now Playing **/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  width: 100%;
}
.now-playing__name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
    font-family: "CircularStd-Bold";
  }

  .now-playing__cover {
    border-radius: 10px;
  }
  .now-playing__artist {
    margin-bottom: 1em;
    font-size: 1em;
    font-family: "CircularStd-Bold";
  }
  .now-playing__status {
    margin-bottom: 1em;

  }
  .now-playing__img {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 45%;
  }
  .now-playing__img img {
    max-width: 80vmin;
    width: 100%;
  }
  .now-playing__side {
    margin-left: 5%;
    width: 45%;
  }

  .btn-spotify {
    font-family: "CircularStd-Bold";
    border: none;
    background-color: transparent;
    border-radius: 20px;
  }
  /** Progress **/
  .progress {
    border: 1px solid burlywood;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
  }
  .progress__bar {
    background-color: burlywood;
    height: 4px;
  }