.quote {
    position: relative; 
    left: 83%;
    top: 120%;
    width: 450px;
    transform: translate(-50%,-50%);
    text-align: right;

}

.quote-content{
    color: white;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

