.weather-container
{
    color: white;
    display: flex;
    
    
}
.temp {
    text-align: center;
}
.description {
    text-align: center;
}
.weather-loading
{
    color: white;
}
.location
{
    text-align: center;   
}