.weather-container {
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  left: 38%;
  height: 25vh; /*adjustable*/
  width: 50vh;
}
.flex {
  width: 200px;
  height: 140px;
  position: absolute;
  top: 60%;
  left: 25%;
  border: 1px solid transparent; /* Remove the border if not needed */
  border-radius: 5%;
  padding: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  outline: none;
  border-radius: 5px;
  text-decoration: none;

}
.main-weather {
  align-items: center;
}
.icon img {
  align-items: center;
  width: 50px; /* Adjust icon size as needed */
  height: 50px; /* Adjust icon size as needed */
  margin-right: 10px; /* Space between icon and temperature */
}
.unit-selector select
{
  font: Nunito-Regular;
  position: absolute; /* Position dropdown absolutely */
  top: 50%; /* Adjust based on desired position */
  transform: translateY(-50%); /* Center vertically */
  border-radius: 3px; /* Rounded corners */
  background-color: rgba(255, 255, 255, 0.15); /* Glassy background */
  backdrop-filter: blur(5px); /* Apply blur effect */
  padding: 1px; /* Adjust padding as needed */
  position: absolute;
  top: 65.3%;
  left: 59.5%;
  font: Nunito-Regular;
  z-index: 1;
  font-size: 10px;
}

.temp {
  font-weight: bold;
  font-size: 100%;
  position: relative;
  font-family: "Nunito-Regular";
}
.description {
  text-align: left;
}
.weather-loading {
  color: white;
}
.location {
  margin-left: 10%;
  text-align: left;
  font-family: "Nunito-Regular";
}
