.weather-container {
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  left: 38%;
  height: 25vh; /*adjustable*/
  width: 50vh;
}
.flex {
  width: 250px;
  height: 115px;
  position: absolute;
  top: 60%;
  left: 18%;
  border: 1px solid transparent; /* Remove the border if not needed */
  border-radius: 5%;
  padding: 4px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  outline: none;
  border-radius: 20px;
  text-decoration: none;
}
.main-weather {
  align-items: center;
}
.icon img {
  align-items: center;
  width: 50px; /* Adjust icon size as needed */
  height: 50px; /* Adjust icon size as needed */
  margin-right: 10px; /* Space between icon and temperature */
}
.unit-selector select {
  position: absolute; /* Position dropdown absolutely */
  top: 50%; /* Adjust based on desired position */
  transform: translateY(-50%); /* Center vertically */
  border-radius: 3px; /* Rounded corners */

  text-align: center;
  padding: 2px; /* Adjust padding as needed */
  position: absolute;
  top: 15%;
  right: 3%;
  font: "Nunito-Regular";
  border-radius: 6px;
  color: white;
  z-index: 1;
  background: transparent;

  font-size: 10px;
  width: 75px;
}
.temp {
  font-weight: bold;
  font-size: 100%;
  position: relative;
}
.description {
  text-align: left;
  font-family: "Nunito-Bold";
}
.weather-loading {
  color: white;
}
.location {
  margin-left: 10%;
  text-align: left;
  font-family: "Nunito-Regular";
  font-size: 14px;
}

.unit-selector select option {
  color: black;
}

.minimized {
  display: none;
}
