.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  
  .flex-container::-webkit-scrollbar {
    width: 12px;
  }
  
  .flex-container::-webkit-scrollbar-thumb {
    color: grey;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }

  /* do not use above */
  
  .nav-bar-form {
    height: 100%;
  }
  
  .profile-picture {
    border-radius: 50%;
    height: 40%;
    margin-bottom: 20px;
  }
  
  .profile-label {
    font-weight: 0;
  }
  
 
  #username {
    font-weight: bold;
  }
  
  .my-stats-label {

    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
    font-family: "Nunito-Bold";
    font-size: 20px;
    font-weight: 0;
    
  }

  .row-container-2-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin-bottom: 10px;
  }

  

  .item-container {
    width: 100%;
    align-items: center; /* Aligns the SVG and label vertically */
    text-align: center;
  }

  .itemContainer-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

  }


  .item-container-textcss {
    align-items: center;
    margin-right: 30px;
    font-family: "Nunito-Bold";
    font-size: 16px;
    font-weight: 0;
    padding-left: 5px;
  }

  
  .kibble-css {
    font-family: "Nunito-Bold";
    color: #D3A380;
    font-size: 30px;
    text-align: center;
    width: 100%;

  }

  .hours-css {
    font-family: "Nunito-Bold";
    color: #D3A380;
    font-size: 30px;
    text-align: center;

  }

  .activity-row-label {

    margin-top: 30px;
    font-size: 15px;
    width: 100%;
    font-family: "Nunito-Bold";
    text-align: left;
    color: #D3A380;
    margin-left: 45px;

}

.last-7-days {
    margin-left: 45px;
    margin-top: 8px;
    font-size: 13px;
    width: 100%;
    font-family: "Nunito-Bold";
    text-align: left;
    margin-bottom: 35px;
}

.cat-gif {
  margin-top: 10px;
  height: 80px;
  justify-content: center;
  
}


.stats-chart-container canvas {
  position: relative;
  height: 240px !important;
  width: 350px !important;
}

.miso-image {
  width: 100%;
}