.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    margin-top: 10px;
    
    background:none;
    border: none;
    cursor: pointer;
    outline:none;
  }
  
  /* i assumed this to be the dropdown box css,
    however i want some margin spacing from the edges like
       in the Figma file */

  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 175px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.5);
    margin-top: 8px;
    justify-content: center;
    right: 24%;
    border-radius: 13px;
    font-size: 16px;
    font-family: 'Nunito-Bold';
  }
  
  .dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* Style your dropdown items here */
    color:black;
  }
  
  .dropdown-item:hover {
    background-color: #794141;
  }

  .horizontal-line{
    height: 2px;
    width: 100%;
    color:#dbdbdb;
  }