@font-face {
  font-family: "Hugmate-Regular";
  src: url("fonts/Hugmate.ttf"), url("fonts/Hugmate.woff");
}

@font-face {
  font-family: "Hugmate-Bold";
  src: url("fonts/Hugmate-Bold.ttf");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-Black";
  src: url("fonts/Inter-Black.ttf");
}

@font-face {
  font-family: "CircularStd-Bold";
  src: url("fonts/CircularStd-Bold.ttf");
}