.otp-group {
  display: flex;
  width: 100%;
  max-width: 70%;
  position: center;
  column-gap: 5%;
  margin-left: 15%;
}

.otp-input {
  width: 100%;
  height: 10%;
  border: 1px solid #ccc;
  border-radius: 10%;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10%;
}
