@import "./fonts.css/";

/* style.css */
/* Add a custom CSS class for the Link component to remove text decoration */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.page {
  background-color: #fef2e7;
  min-height: 100vh;
  position: relative;
  min-width: 100vw;
  overflow: hidden;
  overflow-y: hidden;
}

.UpperSection {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensure vertical centering */
  padding: 1%;
  background-color: transparent;
  height: 5vh;
  width: 100vw;
}

.logo {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 20px;
  margin-left: 10%;
  text-decoration: none;
  text-decoration-line: none;
  margin-bottom: 5%;
}

.logo .text-wrapper {
  color: #ffffff;
  font-family: "Hugmate-Regular";
  font-size: 20px;
  font-weight: 400;
  height: 100%;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  /*position: fixed;*/
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 100%;
  text-decoration: none;
  text-decoration-line: none;
}

.logoLink {
  text-decoration: none;
  text-decoration-line: none;
  height: 100%;
  width: 100%;
}

.label .text-wrapper {
  cursor: pointer;
  text-decoration: none;
  text-decoration-line: none;
}

.button {
  text-decoration: none;
  cursor: pointer;
}

.left-side {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(2, auto);
  align-items: center; /* Vertically center the content */
  height: auto;
}

.right-side {
  height: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(
    1,
    auto
  ); /* Adjust the number of links as needed */
}

.right-side .LOGIN-BUTTON {
  right: 0;
}
.HeroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fef2e7;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-template {
  display: flex;
  height: 100%;
  width: 100%;
  padding-bottom: 1%;
}

.hero-template-left {
  align-items: center;
  height: 100%;
  width: 60%;
  position: relative;
  padding: 1%;
}

.hero-template-left-container {
  align-items: center;
  height: 100%;
  width: 100%;
}

.hero-template-right {
  align-items: center;
  width: 40%;
  height: 100%;
  position: relative;
  padding: 1%;
}

.hero-template-right-container {
  align-items: center;
  width: 100%;
  height: 100%;
}

.link {
  color: #54453a;
  text-decoration: none;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile-select {
  color: #e44c10;
  text-decoration: none;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.LOGIN-BUTTON {
  align-items: center;
  display: flex;
  height: 4vh;
  justify-content: center;
  position: relative;
  width: 5vw;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);

  outline: none;
  border-radius: 5px;
  text-decoration: none;
}

.LOGIN-BUTTON:before {
  filter: blur(10px);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  background: inherit;
}

.LOGIN-BUTTON .button {
  color: #88db74;
  align-items: center;
  border-radius: 40%/100%;
  display: flex;
  height: 110%;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  text-decoration: none;
}

.LOGIN-BUTTON .login {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 100%;
  width: 100%;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  outline: none;
  text-decoration: none;
}

.side-bar-container .box {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: center;
  width: 100%;
  color: #88db74;
  outline: none;
  text-decoration: none;
}

.side-bar-container .box .vector-wrapper .vector {
  height: 25px;
  left: 0;
  top: 0;
  width: 100%;
}

.box {
  width: 100%;
  height: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
}

.box .vector-wrapper {
  border: 0px none;
  height: 26.28px;
  width: 34.04px;
}
.box .vector {
  height: 20px;
  left: 0;
  top: 0;
  width: 20px;
}

.miso-background-container {
  width: 90%;
  height: 90%;
  position: relative; /* Make the container a positioned element */
  overflow: hidden; /* Hide the overflow from the overlay */
}

.image {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  width: 95%;
  height: 100%;
}

.miso-background-wrapper {
  border: 0px none;
  height: 50%;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1%;
}

.image .miso-background {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
  border-radius: 5%;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Adjust the height as needed to control the area to be blurred */
  background: rgba(
    250,
    247,
    247,
    0.1
  ); /* Adjust the background color and opacity as needed */
  backdrop-filter: blur(3px); /* Adjust the blur intensity as needed */
  border-radius: 5%;
  align-items: center;
  display: grid; /* Add Flexbox to center the content */
  grid-template-rows: repeat(2, auto); /* Adjust the number of rows as needed */
  justify-content: center; /* Center horizontally */
  flex-direction: column; /* Added to stack elements vertically */
}

.START-BUTTON {
  align-items: center;
  margin-top: 100%; /* Add some margin between the timer container and the button */

  display: flex;
  height: 58px;
  justify-content: center;
  position: relative;
  width: 140px;
}
.START-BUTTON .button {
  align-items: center;
  border-radius: 69px;
  display: flex;
  gap: 12px;
  height: 58px;
  justify-content: center;
  margin-bottom: -3px;
  margin-top: -3px;
  overflow: hidden;
  padding: 23px 32px;
  position: relative;
  width: 140px;
}
.START-BUTTON .start-timer {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -3px;
  margin-top: -5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
/*
/*Button Style Hover ~ Green */
/*.hover-true {
  /*padding: 0px 0px 6px;*/
/*}
.hover-false {
  padding: 3px 0px;
}
.hover-true .button {
  /*background-color: #ffffff;
  box-shadow: 0px 7px 24px #69a65966, 0px 3px 8px #68a55999;*/
/*}
.hover-false .button {
  /*background-color: #c8c9c7;
  box-shadow: 0px 2px 4px #69a659cc;*/
/*}*/

.timer-container {
  position: absolute;
  top: 30%; /* Position the container in the middle vertically */
  left: 50%; /* Center the container horizontally */
  transform: translate(-50%, -50%); /* Center the container accurately */
  width: 30%; /* Adjust the width of the container as desired */
  height: 30%;
  backdrop-filter: blur(0px);
  background: rgba(
    250,
    247,
    247,
    0.75
  ); /* Adjust the background color and opacity as needed */
  backdrop-filter: blur(3px); /* Adjust the blur intensity as needed */
  padding: 20px;
  border-radius: 50px;
  text-align: center;
}

.time {
  position: absolute; /* Set the position to absolute */
  top: 50%; /* Position the timer content in the middle vertically */
  left: 50%; /* Center the timer content horizontally */
  transform: translate(-50%, -50%); /* Center the timer content accurately */
  color: #53443a;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.hide-welcome {
  display: none;
}

.hero-template-right-task-container {
  width: 100%;
  height: 100%;
}

.to-do-list-wrapper {
  width: 100%;
  height: 100%;
  color: #53443a;
  text-align: center;
  z-index: 10;
}

.todo-list {
  max-height: 600px; /* Adjust this value as needed */
  overflow-y: auto;
}
.todo-list-container {
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

.to-do-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-wrapper {
  background-color: #ffffffb0;
  box-shadow: 0px 4px 20px #725e5136;
  height: 10%;
  position: relative;
  align-items: center;
  width: 95%;
  padding: 3%;
  margin-bottom: 2%;
  display: flex;
  overflow: hidden; /* Hide overflow content */
  justify-content: space-between; /* This will push buttons to the edge */
  flex-grow: 1;

  border-bottom: 4px solid #ccc; /* Add a bottom border to separate items */
}

.item-wrapper:hover {
  cursor: pointer;
}

/* Set a maximum width for the to-do list item */

.to-do-list-item {
  font-size: 14px;
  font-family: "Nunito-Bold", Helvetica;
  width: 80%;
  display: flex;
  flex-grow: 1;
  height: 100%;
  white-space: pre-line; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Add ellipsis (...) to indicate overflow */
}
.delete-button {
  padding-left: 2%;
}

.delete-button:hover svg path {
  fill: rgb(216, 94, 94);
}

.text-content {
  white-space: normal; /* Allow text to break lines */
  font-size: 0.91rem;
  text-overflow: clip;
  word-break: break-word;
  max-width: calc(
    100% - 60px
  ); /* Adjust the pixel value based on the size of your buttons */

  text-overflow: ellipsis; /* Show ellipsis (...) when text overflows */
  margin-right: 10px; /* Add some right margin to prevent text touching the buttons */
}
.item-button-container {
  margin-left: auto; /* Pushes the button container to the right */
  display: flex; /* Align buttons in a row */
  align-items: center;
}
.to-do-list-form {
  width: 100%;
  height: 5%;
  font-size: 130%;
  display: flex; /* Use flexbox to align form elements */
  justify-content: center; /* Center form elements horizontally */
  align-items: center; /* Center form elements vertically*/
  margin-top: 2%;
  margin-bottom: 3%;
}

.add-button {
  border-radius: 100%;
  border: none;
  width: 5%;
  height: 75%;
  background: transparent; /* Adjust the background color and opacity as needed */
  backdrop-filter: blur(3px); /* Adjust the blur intensity as needed */
}

input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 50%;
  text-decoration: none;
  outline: none;
  font-family: "Nunito-Regular", Helvetica;
  color: #54453a;
}

input[type="checkbox"] {
  border-radius: 9px;
}

.item-wrapper svg {
  margin-right: 1em;
  cursor: pointer;
}

.error-message {
  color: red;
}

.sidebar {
  position: fixed; /* Change to fixed positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the div */
  width: 30%;
  height: 85%;
  border-radius: 5%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.sidebar-wrapper {
  padding: 5%;
  height: 100%;
}

.sidebar-content {
  width: 100%;
  height: 100%;
}

/* Show the sidebar when the class is added */
.sidebar-open {
  opacity: 1; /* Show the modal */
  visibility: visible; /* Make it visible */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px); /* Apply a blur effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Adjust the background color and opacity */
  z-index: 999; /* Ensure this is below the modal */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.backdrop-visible {
  opacity: 1;
  visibility: visible;
}

.exit-button {
  position: absolute;
  top: 25px;
  left: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #333; /* Adjust color as needed */
}

.exit-button:hover {
  color: #666; /* Change color on hover */
}

.edit-button {
  flex-shrink: 0; /* Prevent buttons from shrinking */
}

.delete-button {
  flex-shrink: 0; /* Prevent buttons from shrinking */
}

.message {
  color: rgb(236, 112, 112);
  vertical-align: middle;
  font-family: "Inter-Medium", Helvetica;
}

.message-instruction {
  color: #54453a;
}

.message-success {
  color: #6ecb5a;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 0.5s ease-in-out;
}

.back-button {
  position: absolute;
  top: 5%;
  left: 10%;
  cursor: pointer;
}

.form-switcher {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  gap: 10%;
  margin-top: 2%;
}

.form-switch-btn {
  cursor: pointer;
  font-size: 120%;
  font-family: "Inter-Medium", Helvetica;
  color: #53443a;
}

.form-switch-btn.active {
  cursor: pointer;
  font-size: 120%;
  font-family: "Inter-Medium", Helvetica;
  color: #53443a;
  font-weight: bold;
}

.welcome-message {
  color: #53443a;
  font-family: "Nunito-Bold", Helvetica;
  align-self: center;
  position: relative;
  text-align: center;
  font-size: 150%;
}

.side-bar-container {
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.nav-bar-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.input-box {
  width: 100%;
  padding: 2%;
  margin: 2%;
  margin-top: 5% auto;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #53443a36;
  border-radius: 9px;
  height: 100%;
  box-sizing: border-box; /* Include padding and border in the total width */
  position: relative; /* Add position relative to the input box */
}

.input-field {
  width: 100%;
  height: 8%;
  margin-bottom: 5%;
  position: relative;
}

.input-field input::placeholder {
  color: transparent;
}

.input-field input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid;
  border-color: #53443a36;
  color: #53443a;
  border-radius: 9px;
  font-family: "Nunito-Regular", Helvetica;
  box-sizing: border-box; /* Include padding and border in the total width */
  position: relative; /* Add position relative to the input box */
  z-index: 1; /* Add a z-index to make sure the label stays on top */
}

.input-field .form-label {
  position: absolute;
  top: 50%;
  left: 5%; /* Adjust the left positioning to align with the input box */
  font-size: 15px;
  padding: 0 10px;
  color: #53443a;
  pointer-events: none; /* Allow clicking through the label */
  transition: 0.15s all ease;
  background-color: white;
}

.input-field input:focus + .form-label,
.input-field input:not(:placeholder-shown) + .form-label {
  transform: translate(5px, -35px);
  background-color: #ffffff;
  color: #53443a;
  font-size: 15px;
  z-index: 1;
}

.extended-button {
  background-color: #88db74;
  align-items: center;
  color: white;
  border-radius: 9px;
  height: 100%;
  overflow: hidden;
  width: 100%;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 100%;
  /*margin-left: 3.5%;*/
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.extended-button:hover {
  background-color: #6ecb5a;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;
}
.checkbox-and-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-checkbox {
  cursor: pointer;
}

.row-label-lf-rem {
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px; /* Adjust the font size for better appearance */
  color: #53443a;
  left: 0;
  position: relative;
}

.row-button-left {
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  color: #53443a;
  position: relative;
}

.row-button-right {
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  color: #53443a;
  position: relative;
}

.row-label-lf-fp {
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px; /* Adjust the font size for better appearance */
  color: #53443a;
  right: 0;
  position: relative;
}

.row-centered {
  align-items: center;
  width: 100%;
  height: 8%;
}

.row-centered-label {
  position: relative;
  text-align: center;
}

.message-centered {
  position: relative;
  text-align: center;
  margin-top: 5%;
  font-family: "Inter-Medium", Helvetica;
  font-size: 100%; /* Adjust the font size for better appearance */
  color: rgb(236, 112, 112);
}

.row-centered-pd {
  align-items: center;
  text-align: center;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
}
.label-container {
  flex: 1; /* Distributes available space equally between labels */
}

.divider-label {
  color: rgb(54, 43, 43);
}
.divider {
  margin: 0 10px; /* Adjust the margin as needed */
}
.default-label {
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px; /* Adjust the font size for better appearance */
  color: #53443a;
  position: relative;
  text-align: center;
  margin-top: 5%;
}

.verification-label-button {
  cursor: pointer;
  font-family: "Inter-Medium", Helvetica;
  color: #57944f;
  font-size: 100%;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.verification-container {
  height: 100%;
  align-items: center;
  width: 100%;
}

.change-email-container {
  height: 100%;
  width: 100%;
  align-items: center;
}

.OTP-split-container {
  padding: 2%;
  width: 100%;
  height: 10%;
}

.controls-container {
  justify-content: space-between;
  width: 100%;
  height: 10%;
  margin-top: 1%;
  display: flex;
  flex-direction: column; /* Updated flex-direction */
  align-items: center;
}

.label-button {
  cursor: pointer;
  font-family: "Inter-Medium", Helvetica;
  color: #53443a;
}

.button-wrapper {
  width: 90%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top: 2%;
}
.button-wrapper-contained {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.extended-button-wrapped {
  background-color: #88db74;
  align-items: center;
  color: white;
  border-radius: 9px;
  height: 100%;
  overflow: hidden;
  width: 100%;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 100%;
  /*margin-left: 3.5%;*/
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.MainContainer {
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.MainContent {
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

input::placeholder {
  color: #53443a;
  font-size: 1rem;
}
