.menu-bar {
  position: fixed;
  bottom: 20px; /* Adjust the value to hover above the bottom as needed */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around; /* This will create equal spacing around each widget */
  align-items: center;
  z-index: 100; /* Ensure it's above other content */
  width: 962px; /* Adjust as needed */
  height: 57px;
  flex-shrink: 0;
  background-color: rgb(255, 255, 255);
  margin: auto; /* This centers the menu bar horizontally */
  border-radius: 30px;
  border: 0px solid black;
}

.menu-bar svg {
  transition: transform 0.5s ease, cursor 0.3s ease; /* Adjust the duration and timing function as needed */
  color: #4e4e4e;
}

/*
.menu-bar svg:hover {
  cursor: pointer;
  transform: translateY(-3px); 
}
*/

/*
.menu-bar::after {
    content: "";
    flex: auto;
  }
*/
.widget-container {
  margin: 0 10px; /* Space out widgets */
  padding: 10px;
  background-color: transparent; /* Example background color */
  border-radius: 5px; /* Optional: for rounded corners */
  cursor: pointer;
  position: relative; /* For absolute positioning of the window */
  transition: transform 0.5s ease, cursor 0.3s ease; /* Adjust the duration and timing function as needed */
  font-weight: bold;
  text-align: center;
}

.widget-title {
  font-family: Nunito-Bold !important;
}

.widget__name {
  font-size: 12px;
  font-weight: bold;
  font-family: Nunito-Bold;

  text-align: center;
  margin-bottom: 0;
}

.widget-container:hover {
  cursor: pointer;
  stroke: #d3a380;
  /*transform: translateY(-2px); */
  color: #d3a380;
}

.widget-container:hover path {
  stroke: #d3a380;
  color: #d3a380;
}

.widget-container:hover .spotify-widget-svg-icon path {
  fill: #d3a380;
}
/* TRYING TO FIX SVG ABOVE */

.widget-container:hover .miso-widget-svg-icon path {
  fill: #d3a380;
  stroke: none;
}

.miso-widget-svg-icon:hover path {
  fill: #d3a380;
}

.hubs-widget-svg-icon {
  stroke: #d3a380;
}
.timer-widget-svg-icon {
  fill: #d3a380;
}

.sounds-widget-svg-icon {
  fill: #d3a380;
}
.spotify-widget-svg-icon:hover path {
  stroke: #d3a380;
}

.widget-window {
  position: absolute; /* or absolute, depending on your layout */
  bottom: 10%; /* Adjust as needed */
  left: 10%; /* Adjust as needed */
  width: 300px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  background: white;
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stack children vertically */

  border: 0px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Higher than other content */
  /* Add more styling as needed */
  min-width: 100px;
  min-height: 100px; /* Minimum height of the widget */
  resize: both;
  overflow: hidden;
  box-shadow: 0 1px 10px #707070;
}

.widget-drag-handle {
  width: 100%;
  height: 100%;

  cursor: grab; /* Indicates this area is draggable */
}

.widget-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.widget-below-top-left {
  position: absolute;
  top: 100px; /* Adjust based on the height of the widget above */
  left: 0;
}

/******* WIDGET SECTION ********/

.widget-header {
  display: flex;
  justify-content: space-between; /* Aligns children to each end */
  align-items: center; /* Aligns children vertically */
  padding: 10px 5px 0 15px;
}

.widget-title {
  color: #4e4e4e;
  font-family: "Nunito";
  font-size: 17px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 0.5rem;
  /* Remove any additional margins that might push the title away from the left */
  margin-left: 0;
}

.minimize-symbol {
  cursor: pointer;
  margin-right: 10px;
  border: none; /* Remove the border */
  background: none; /* Remove the background */
  padding: 10px; /* Remove padding */
  display: inline-flex; /* Use inline-flex to align SVG inside the button */
  align-items: center; /* Align items center to vertically center the SVG */
  justify-content: center; /* Center content horizontally */
  outline: none; /* Remove outline to prevent focus outline */
  height: 100%;
}

.widget-line {
  width: 100%;
  height: 2px;
  background: #dfdfdf;
}

.widget-content {
  text-align: center;
  overflow-y: scroll;
  overflow: scroll;
  max-height: 90%;
}

.minimized {
  display: none;
}

/**** MINIMIZE FEATURE ******/
.miso-widget.minimized {
  display: none;
  overflow: hidden;
}

.minimize-symbol {
  /* Style your minimize button */
  cursor: pointer;
  /* ... other styles ... */
}

/***MISO WIDGET *******/
.miso-widget {
  height: 100%;
  width: 100%;
}

.widget-window.miso-widget {
  width: 349px;
  height: 211px;
  position: absolute;
  bottom: 17%; /* Position it at the bottom of the MainContainer */
  left: 40%; /* Start at the half-way point of the MainContainer */
  top: 58%;
  border-radius: 13px;
  min-width: 349px;
  min-height: 211px;
  max-width: 638px;
  max-height: 375px;
}

.miso {
  z-index: 1000;
}
.widget-window.miso-widget.minimized {
  display: none;
}

/***** HUBS WIDGET ******/
.hubs-widget {
  height: 100%;
  width: 100%;
}

.widget-window.hubs-widget {
  width: 509px;
  height: 219px;
  position: absolute;
  /* Position it at the top left of the MainContainer */
  top: 2%; /* Adjust as needed */
  left: 1%; /* Adjust as needed */
  flex-shrink: 0;
  resize: both;
  border-radius: 13px;
}

/***** spotify widget ******/
.spotify-widget {
  height: 100%;
  width: 100%;
}

.widget-window.spotify-widget {
  width: 509px;
  height: 211px;
  position: absolute;
  /* Position it at the top left of the MainContainer */
  top: 30%; /* Adjust as needed */
  left: 1%; /* Adjust as needed */
  flex-shrink: 0;

  border-radius: 13px;
}

/****** tasks widget ********/
.tasks-widget {
  height: 100%;
  width: 100%;
}

.tasks-widget .widget-content {
  display: block;
}

.widget-window.tasks-widget {
  width: 509px;
  height: 345px;
  position: absolute;
  /* Position it at the bottom right of the MainContainer */
  flex-shrink: 0;
  top: 40%; /* Adjust as needed */
  left: 69%; /* Adjust as needed */
  min-width: 414px;
  min-height: 160px;

  border-radius: 13px;
}

.history-or-add {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  right: 60px;
  background: transparent; /* Make the background transparent */
  border: none; /* Remove the border */
  padding: 0; /* Remove padding, adjust as necessary for your design */
  -webkit-appearance: none; /* Remove default browser styling for WebKit browsers */
  -moz-appearance: none; /* Remove default browser styling for Mozilla browsers */
  cursor: pointer; /* Optional */
}

.form-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.deleted-tasks-container {
  width: 100%;
  text-align: center;
}

.search {
  width: 100%;
  height: 5%;
  font-size: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

/****** catgpt widget ********/
.catgpt-widget {
  height: 100%;
  width: 100%;
}
/*
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}*/

.widget-window.catGPT-widget {
  width: 400px;
  height: 400px;
  position: absolute;
  /* Position it at the bottom right of the MainContainer */
  flex-shrink: 0;
  top: 1%; /* Adjust as needed */
  left: 69%; /* Adjust as needed */
  border-radius: 13px;
}

#result {
  margin-top: 15px;
  font-weight: bold;
}

/****** notes widget ******/
.notes-widget {
  height: 100%;
  width: 100%;
  /*resize: both;*/
}

.widget-window.notes-widget {
  width: 509px;
  height: 210px;
  position: absolute;
  min-width: 250px;
  min-height: 150px;
  /* Position it at the bottom right of the MainContainer */
  flex-shrink: 0;
  top: 57%; /* Adjust as needed */
  left: 1%; /* Adjust as needed */
  border-radius: 13px;
}

.notes-widget .widget-content {
  left: 0;
}

.notebook {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.notes-widget .widget-content {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  margin: 0;
  border: 0;
}

textarea:focus {
  outline: none;
}

.notebook-content {
  width: 100%;
  height: 100%; /* Full height */
  border: none; /* Remove border */
  margin: 0; /* Remove margin */
  resize: none; /* Allow only vertical resizing */
  z-index: 100;
}

.notebook-content::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Light grey track */
}

/* This styles the scrollbar thumb (the part that you drag) */
.notebook-content::-webkit-scrollbar-thumb {
  background-color: #cdcccc; /* Dark grey thumb */
  border-radius: 10px; /* Rounded corners on the thumb */
  border: 2px solid #ffffff; /* Adds a white border around the thumb */
  padding: 0px;
}

/* This styles the scrollbar itself (including the thumb, track, and buttons) */
.notebook-content::-webkit-scrollbar {
  width: 8px; /* Width of the entire scrollbar */
}

select {
  outline: none;
  border: none;
  color: #4e4e4e;
}

/***** sound widget ******/
.sounds-widget {
  height: 100%;
  width: 100%;
}

.widget-window.sounds-widget {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 40%; /* Start at the half-way point of the MainContainer */
  top: 40%;
  border-radius: 13px;
  max-width: 355px;
  max-height: 300px;
  resize: both;
  min-width: 355px;
  min-height: 170px;
}

.sounds-widget .widget-content {
  overflow: scroll;
}

.sounds-name {
  text-align: left;
  width: 100%;
  color: #4e4e4e;
}

.sounds-widget .widget-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.sounds-widget .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: left;
}

.sounds-widget .volume-slider {
  z-index: 1000;
  cursor: pointer;
  justify-content: left;
  width: 100%;
}

input[type="range"].custom-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #d4a484;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(129, 57, 22, 0.75);
}

input[type="range"].custom-volume-slider {
  width: 80%;
  height: 10px;
  -webkit-appearance: none;
  border-radius: 5px;
  z-index: 1000;
  outline: none;
}

.sounds-icon {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.sounds-widget path {
  stroke: #4e4e4e;
}

/***** timer widget *****/
.timer-widget {
  height: 100%;
  width: 100%;
}

.widget-window.timer-widget {
  width: 349px;
  height: 146px;
  position: absolute;
  bottom: 44%; /* Position it at the bottom of the MainContainer */
  left: 40%; /* Start at the half-way point of the MainContainer */
  top: 38%;
  border-radius: 13px;
}

/**** scroll bar ******/
.widget-content::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Light grey track */
}

/* This styles the scrollbar thumb (the part that you drag) */
.widget-content::-webkit-scrollbar-thumb {
  background-color: #cdcccc; /* Dark grey thumb */
  border-radius: 10px; /* Rounded corners on the thumb */
  border: 2px solid #ffffff; /* Adds a white border around the thumb */
}

/* This styles the scrollbar itself (including the thumb, track, and buttons) */
.widget-content::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

/* Optional: style the scrollbar corner */
.widget-content::-webkit-scrollbar-corner {
  background-color: rgb(255, 255, 255);
}

.widget-window::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Light grey track */
}

/* This styles the scrollbar thumb (the part that you drag) */
.widget-window::-webkit-scrollbar-thumb {
  background-color: #cdcccc; /* Dark grey thumb */
  border-radius: 10px; /* Rounded corners on the thumb */
  border: 2px solid #ffffff; /* Adds a white border around the thumb */
}

.widget-window::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

@media (min-width: 768px) and (max-width: 992px) {
  .menu-bar {
    width: 962px;
  }

  .widget-window {
    width: 300px;
    height: 200px;
  }
}

.svg-button {
  border: transparent;
}

.reset-button {
  color: transparent;
  background-color: transparent;
}

.tooltip-outer-box {
  position: absolute;
  top: -10%; /* Adjust this value to position the tooltip above the exclamation point */
  left: 50%; /* Adjust this value to center the tooltip horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: #ffffff; /* Background color for the outer box */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  width: 100px;
  height: 100px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Add a shadow */
  z-index: 1000; /* Ensure it's above other content */
}

/* Add this style for the inner box of the tooltip (text) */
.tooltip-inner-box {
  /* Style your tooltip text as needed */
  font-size: 14px;
  color: #333;
  z-index: 1000; /* Ensure it's above other content */
}

.react-draggable-dragging {
  z-index: 10000;
}
