.code-font {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.spotify-login-button {
    background-color: #1db954;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Times New Roman";
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .spotify-login-button:hover {
    background-color: #168f49;
  }